In [10]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta
from datetime import datetime
from dateutil.parser import parse
import copy

#시각화
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.metrics import *
from sklearn.metrics import accuracy_score, confusion_matrix, log_loss

##알고리즘 
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

In [11]:
def Cut(Series , cuts):
    "구분할 iter가능한 변수와 구분 기준을 입력받으면 구분 기준 앞에서 부터 1로 구분해서 return 함"
    Cuts = copy.deepcopy(cuts)
    Cuts.append(np.inf)
    Cuts.insert(0,-1*np.inf)
    R = len(Cuts)
    label = range(1,R)
    return pd.cut(Series, Cuts, labels = label)

In [12]:
df = pd.read_csv("d:/공모전/IPO/IPO/CleanData/X_train_After_IPO_1.csv")

In [13]:
df['상장일'] = pd.to_datetime(df['상장일'])

In [14]:
df.set_index(["상장일"],inplace = True)

In [15]:
df.drop(['종목명','공모 시가총액'],axis = 1,inplace = True)

In [16]:
df['Cat'] = Cut(df['1_3_수익률'],[-0.2, -0.1, 0.1, 0.2])

In [17]:
# df.drop("1_3_수익률",axis = 1,inplace = True)

In [18]:
df

,매출총이익률,유동비율,부채비율,매출액증가율,1개월 후 PER,1개월 후 PBR,1개월 후 EV/EBITDA,1개월 평균 거래량회전율,1개월 평균 일중변동률,1개월 시가총액회전율,1달 후 시장 회전율,1달 후 시장수익률,1달 후 고객예탁금 증감률,상장일 기준 국고3년시장금리,1_3_수익률,개인거래비중,Cat
상장일,,,,,,,,,,,,,,,,,
2009-04-07,0.265039,1.521216,1.267154,0.222942,35.328159,11.039808,28.338707,0.151739,8.326522,384.446526,125.336706,0.120767,0.035562,3.94,-0.107463,89.798043,2
2009-04-10,0.588840,6.590178,0.116098,0.272506,17.722409,5.440252,14.652573,0.117143,10.164762,259.024871,122.666370,0.049811,-0.012951,3.88,-0.298343,91.085238,1
2009-04-14,0.274725,1.772446,0.931424,0.347534,21.593257,2.778330,9.836695,0.129565,10.889565,342.432898,119.795146,0.055241,-0.042680,3.78,-0.187719,92.460652,2
2009-04-17,0.142112,0.850896,2.723670,0.144142,12.178992,4.607519,9.617427,0.092381,10.182857,201.945108,118.721136,0.123481,-0.025820,3.72,-0.145379,93.865476,2
2009-04-17,0.290372,1.294781,1.410724,0.071950,23.667026,5.421298,12.563497,0.156667,9.766190,339.340566,118.721136,0.123481,-0.025820,3.72,0.082153,95.422857,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-11,0.239231,2.314002,0.261272,0.095854,41.628145,6.349806,27.879866,0.596818,13.109091,1504.912009,90.999746,0.089625,0.122827,1.18,-0.164306,97.723864,2
2021-03-17,0.287352,0.517623,2.535705,0.084414,-101.107148,64.320102,-745.809776,0.396522,14.193043,930.625773,92.027423,0.082477,0.059728,1.18,-0.411958,95.115870,1
2021-03-23,1.000000,0.611110,-2.775198,0.681475,-13.391250,57.026603,-43.690635,0.156667,7.527083,450.384708,94.256606,0.085078,0.070617,1.13,-0.113725,92.276042,2
2021-03-24,0.189292,1.438179,1.456232,0.035108,-312.902597,30.037340,419.463705,0.349565,13.095652,773.068003,94.691562,0.076534,0.103469,1.12,0.127119,95.899565,4
2021-03-24,0.051599,1.361835,1.946022,-0.135338,81.308585,16.767919,38.659160,0.200870,9.070000,558.631869,94.691562,0.076534,0.103469,1.12,-0.186501,95.834348,2

In [19]:
train_list = []
test_list = []
train_start_date = '2009-04-01'
test_start_date = parse(str(train_start_date)).date() + relativedelta(years =3)
train_end_date = parse(str(test_start_date)).date() - relativedelta(days =1)
test_end_date = parse(str(train_end_date)).date() + relativedelta(years =1)


    
while True:
  
    train_list.append(df[train_start_date : train_end_date])
    test_list.append(df[test_start_date : test_end_date])
    
    train_start_date = parse(str(train_start_date)).date() + relativedelta(months=3)
    test_start_date = parse(str(test_start_date)).date() + relativedelta(months=3)
    train_end_date = parse(str(train_end_date)).date() + relativedelta(months=3)
    test_end_date = parse(str(test_end_date)).date() + relativedelta(months=3)
    
    if str(train_start_date) == '2018-04-01':
        break

In [20]:
a = train_list[0]['Cat'].value_counts().reindex([1,2,3,4,5])
a

1    37
2    21
3    53
4    17
5    27
Name: Cat, dtype: int64

In [21]:
c = test_list[0]['Cat'].value_counts().reindex([1,2,3,4,5])
c

1     1
2     1
3    13
4     1
5     6
Name: Cat, dtype: int64

In [22]:
df_y = pd.concat([a,c])
print(df_y)

1    37
2    21
3    53
4    17
5    27
1     1
2     1
3    13
4     1
5     6
Name: Cat, dtype: int64

In [23]:
f = train_list[1]['Cat'].value_counts().reindex([1,2,3,4,5])
g = test_list[1]['Cat'].value_counts().reindex([1,2,3,4,5])

In [24]:
ee = pd.concat([f,g],axis = 0)
print(ee)

1    31
2    17
3    47
4    16
5    26
1     1
2     0
3    17
4     1
5     6
Name: Cat, dtype: int64

In [26]:
len(train_list)

36

In [27]:
for i in range(1,len(train_list)):
    a = train_list[i]['Cat'].value_counts().reindex([1,2,3,4,5])
    b = test_list[i]['Cat'].value_counts().reindex([1,2,3,4,5])
    
    new_data = pd.concat([a,b] ,axis =0)
    df_y = pd.concat([df_y,new_data],axis =1)

In [28]:
df_y

,Cat,Cat,Cat,Cat,Cat,Cat,Cat,Cat,Cat,Cat,...,Cat,Cat,Cat,Cat,Cat,Cat,Cat,Cat,Cat,Cat
1,37,31,30,29,24,18,17,14,12,9,...,30,25,24,26,25,27,26,25,26,30
2,21,17,17,14,13,11,10,7,8,9,...,26,26,27,28,31,33,32,31,35,35
3,53,47,47,49,50,51,48,46,44,43,...,80,73,74,74,79,73,69,65,70,77
4,17,16,15,16,15,15,13,15,11,11,...,25,25,23,23,27,23,22,20,14,15
5,27,26,27,25,25,25,22,28,25,23,...,24,25,26,25,27,31,37,36,33,33
1,1,1,0,2,2,3,6,5,5,8,...,5,8,7,5,6,9,14,14,12,5
2,1,0,1,1,2,3,5,9,8,10,...,8,13,12,11,15,14,19,18,10,5
3,13,17,18,19,15,13,12,15,15,21,...,32,27,23,22,23,23,28,26,15,5
4,1,1,1,3,3,3,3,7,7,7,...,8,6,7,7,5,4,6,6,4,3
5,6,6,2,11,9,9,11,11,11,11,...,11,10,15,16,15,11,5,4,2,1

In [ ]:
df_y.rename(columns = lambda x : "model_set_"+ str(x),inplace = True)

## 위에 1,2,3,4,5 는 36개 모델에 대한 y_train 데이터 분포 , 아래는  y_test 데이터 분포

In [ ]:
df_y

In [ ]:
# df_y.to_csv("y_data분포.csv",encoding = 'euc-kr')

In [ ]:
df = pd.read_csv("d:/공모전/IPO/IPO/CleanData/X_train_After_IPO_1.csv")